@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

:root {
	--content-width: 1048px;
	--gutter-large: 40px;
	--gutter-medium: 20px;
	--gutter-small: 10px;
	--gutter-tiny: 5px;

	--primary-color: #2a3c8f;
	--accent-color: #31abe0;
	--light-gray-color: #e5e4e2;
	--dark-gray-color: #444;
	--white-color: #fff;
	--gu-primary-color: #cd2560;
}

/* sections */

body {
	font-family: 'Noto Sans', sans-serif;
	line-height:  1.5;
}

header {
	width: var(--content-width);
	margin: 0 auto;
	padding: var(--gutter-medium) var(--gutter-small);
}

header nav a {
	color: var(--primary-color) !important;
	text-decoration: none;
	text-transform: uppercase;
	margin-left: var(--gutter-large);
	font-weight: 600;
}

main {
	width: var(--content-width);
	padding: 0 var(--gutter-small);
	margin: 0 auto;
}

footer {
	width: max(var(--content-width), 100%);
	text-align: center;
	background-color: var(--primary-color);
	font-size: 80%;
	color: var(--white-color);
	padding:  var(--gutter-medium);
	margin-top: var(--gutter-large);
}

footer a {
	color: var(--white-color) !important;
}

/* elements */

h1 {
	font-weight: 200;
}
h2, h3 {
	font-weight: 300;
	color: var(--dark-gray-color);
}

a {
	color: var(--accent-color);
}
a:visited {
	color: var(--accent-color);
}

b, strong {
	font-weight: 600;
}

hr {
	border: 0;
	height: 1px;
	background: var(--light-gray-color);
}

hr.big {
	border: 0;
	height: 3px;
	background: var(--accent-color);
}

/* ids and classes */

#route-map { 
	height: 600px; 
	margin-bottom: var(--gutter-large);
}

.logo-img {
	height: 50px;
	image-rendering: -webkit-optimize-contrast;
}

.gu-section {
	color: var(--gu-primary-color);
	font-size: 80%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.gu-section img {
	height: var(--gutter-medium);
	margin-left: 5px;
	image-rendering: -webkit-optimize-contrast;
}

.flex-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.lead-splide {
	margin-bottom: var(--gutter-large);
	min-width: calc(var(--content-width) + var(--gutter-medium));
}
.lead-splide .img {
	width: 100%;
	height: 100%;
	background-position: center;
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
@media (max-width: 1048px) {
	.splide .img {
		background-attachment: scroll;
	}
}
.lead-splide .lead-wrapper {
	background: transparent;
	position: absolute;
	top: var(--gutter-large);
	right: 50%;
	width: calc(var(--content-width) / 2);
	z-index: 100;
}
.lead-splide .lead {
	padding: var(--gutter-medium);
	padding-bottom: var(--gutter-large);
	width: 475px;
	background: #fff;
	font-size: 120%;
	opacity: .95;
}
.lead-splide .lead .btn {
	display: inline-block;
	background-color: var(--primary-color);
	border: 0;
	font-weight: 600;
	color: var(--white-color);
	padding: var(--gutter-small) var(--gutter-large);
	transition: filter 150ms ease-out;
	text-decoration: none;
}
.lead-splide .lead .btn:hover {
	filter:  brightness(1.5);
}
.lead-splide .caption-wrapper {
	background: transparent;
	position: absolute;
	top: var(--gutter-large);
	left: 50%;
	width: calc(var(--content-width) / 2);
	z-index: 100;
}
.lead-splide .caption {
	float: right;
	padding: var(--gutter-medium);
	width: 280px;
	background: #fff;
	font-weight: 300;
	opacity: .95;
}
.lead-splide .caption img {
	display: inline-block;
	height: 24px;
	margin: 2px var(--gutter-tiny) 2px 0;
}

.leaflet-popup-content {
	font-family: 'Noto Sans', sans-serif !important;
	line-height:  1.5;
}

.control-elem {
	margin-bottom: var(--gutter-small);
}

.fleet-table {
	width: 100%;
	border-collapse: collapse;
}
.fleet-table tr:not(:first-child) {
	border-top: 1px solid var(--light-gray-color);
}
.fleet-table ul {
	padding: 0;
	list-style-type: none;
}
.fleet-table td ul:first-child {
	margin-top: 0;
}
.fleet-table-splide .splide__slide {
	text-align: center;
}
.fleet-table-splide .splide__pagination__page.is-active {
	background: #efefef;
}





